<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Twitter</title>
	<link rel="shortcut icon" href="Images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="bootstrap-3.2.0-dist/css/bootstrap.min.css">
	<link rel="stylesheet/less" type="text/css" href="css/styles.less">
	<script type="text/javascript" src="Libraries/less.min.js"></script>
</head>
<body>
	<ul class="nav" id="global-actions">
<li id="global-nav-home" class="home active">
							<a href="#">
								<span class="Icon Icon--home Icon--large"></span>
								<span class="text">Home</span>
							</a>
						</li>
<li class="people">
							<a href="#">
								<span class="Icon Icon--connect Icon--large"></span> <span class="text">Notifications</span>
							</a>
						</li>
<li class="topics">
							<a href="#">
								<span class="Icon Icon--messages Icon--large"></span> <span class="text">Messages</span>
							</a>
						</li>
<li class="profile">
							<a href="#">
								<span class="Icon Icon--discover Icon--large"></span> <span class="text">Discover</span>
							</a>
						</li>
</ul>

<script src="Libraries/jquery1.11.1.min.js"></script>
<script src="bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
</body>
</html>