		{#follow}
		<div class="shouldFollow">
			<div class="willFollow">
		<div class="dismiss"><span class="Icon Icon--close"></span></div>
		<div class="content">
			<a href="#" class="accountGroup">
				<img class="accountAvatar"src="{profilePic}">
				<span class="profileInfo">
					<b class="fullName">{userName}</b>
					<span class="userName"><s>@</s><span>{NickName}</span></span>
				</span>

			</a>
			<div class="followHolder">
				<button type="button"class="btn followButton">
					<span class="Icon Icon--follow"></span>
					<span class="followText">Follow</span>
				</button>
			</div>
		</div>
		</div>
		</div>
		{/follow}